<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Portafolio</a>
        </div>
        <!-- <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="https://www.linkedin.com/" target="_blank">Linkedin</a></li>
        </ul> -->
    </div>
</nav>
<div class="text-center">
    <div class=".col-sm-12"></div><img src="assets/foto.png" class="img-thumbnail" alt="Mauro Cuassolo perfil"
        width="100" id="picture">
</div>
<section>
    <article>
        <h2 id="name">Mauro Emanuel Cuassolo</h2>
        <h3>Estudiante Ing. en Computación e Ing. Electrónica UNC</h3>
        <p>Córdoba, Argentina. <a href="home.html" target="_self">Información de contacto</a></p>
    </article>
</section>